{% extends 'base.html' %}

{% block content %}

    <section id="showcase-inner" class="showcase-search text-white py-5">
    <div class="container">
        <div class="row text-center">
        <div class="col-md-12">
            <form action="search.html">
            <!-- Form Row 1 -->
            <div class="form-row">
                <div class="col-md-12 mb-3">
                <label class="sr-only">Search</label>
                <input type="text" name="search" class="form-control" placeholder="Search...">
                </div>
                <div class="col-md-4 mb-3">
                <label class="sr-only">ID</label>
                <input type="text" name="classid" class="form-control" placeholder="ClassID">
                </div>

                <div class="col-md-4 mb-3">
                <label class="sr-only">Batch</label>
                <input type="text" name="batch" class="form-control" placeholder="Batch">
                </div>

                <div class="col-md-4 mb-3">
                <label class="sr-only">Department</label>
                <select name="dept" class="form-control">
                    <option selected="true" disabled="disabled">Select Department</option>
                    <option value="BBA">BBA</option>
                    <option value="CSE">CSE</option>
                    <option value="TRSM">Tourism</option>
                </select>
                </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
        </div>
        </div>
    </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item"> Query</li>
        </ol>
        </nav>
    </div>
    </section>

    <!-- Listings -->
    <section id="listings" class="py-4">
    <div class="container">
        <div class="row">

            <!-- Listing 1 -->
            <div class="col-md-12 col-lg-12 mb-12">
                <div class="searchheading listing-preview">
                <div class="row text-center">
                    <div class="col-md-1">
                        <p>S.L.</p>
                    </div>
                    <div class="col-md-3">
                        <p>Name</p>
                    </div>
                    <div class="col-md-2">
                        <p>ID</p>
                    </div>
                    <div class="col-md-2">
                        <p>Batch</p>
                    </div>
                    <div class="col-md-2">
                        <p>Department</p>
                    </div>
                    <div class="col-md-2">
                        <p>Action</p>
                    </div>
                </div>
                </div>

                <div class="listing-preview searchlist text-center">
                <div class="row">
                    <div class="col-md-1">
                        <p>01</p>
                    </div>
                    <div class="col-md-3 text-left">
                        <p>Shushanto Chowdhury Shuvo</p>
                    </div>
                    <div class="col-md-2">
                        <p>1677</p>
                    </div>
                    <div class="col-md-2">
                        <p>16th</p>
                    </div>
                    <div class="col-md-2">
                        <p>CSE</p>
                    </div>
                    <div class="col-md-2">
                        <p>
                            <a href="studentinfo.html"><button class="infobut" data-toggle="modal" data-target="#inquiryModal">More Info</button></a></p>
                    </div>
                </div>
                </div>

                <div class="listing-preview searchlist text-center">
                <div class="row">
                    <div class="col-md-1">
                        <p>02</p>
                    </div>
                    <div class="col-md-3 text-left">
                        <p>Moshiur Rahman Choyon</p>
                    </div>
                    <div class="col-md-2">
                        <p>1675</p>
                    </div>
                    <div class="col-md-2">
                        <p>16th</p>
                    </div>
                    <div class="col-md-2">
                        <p>CSE</p>
                    </div>
                    <div class="col-md-2">
                        <p>
                            <a href="studentinfo.html"><button class="infobut" data-toggle="modal" data-target="#inquiryModal">More Info</button></a></p>
                    </div>
                </div>
                </div>

                <div class="listing-preview searchlist text-center">
                <div class="row">
                    <div class="col-md-1">
                        <p>03</p>
                    </div>
                    <div class="col-md-3 text-left">
                        <p>Niger Sultana Esha</p>
                    </div>
                    <div class="col-md-2">
                        <p>1633</p>
                    </div>
                    <div class="col-md-2">
                        <p>16th</p>
                    </div>
                    <div class="col-md-2">
                        <p>CSE</p>
                    </div>
                    <div class="col-md-2">
                        <p>
                            <a href="studentinfo.html"><button class="infobut" data-toggle="modal" data-target="#inquiryModal">More Info</button></a></p>
                    </div>
                </div>
                </div>
            </div>

            <!--Pagination-->
            <div class="row">
                <div class="col-md-12">
                <ul class="pagination">
                    <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                    </li>
                    <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                    <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                    <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                    </li>
                </ul>
                </div>
            </div>

        </div>
    </div>
    </section>

{% endblock %}